    html {
      box-sizing: border-box;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    body {
      background-color: white;
      height: 100%;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif;
    }

    header {
      background-color: #6034b1;
      margin: 0 auto;
    }

    footer {
      color: #6da5ff;
      font-family: 'Josefin Sans', sans-serif;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .container {
      display: inline-block;
      width: 100%;
    }

    h1 {
      color: snow;
      border: 3px solid snow;
      border-radius: 10px;
      display: inline-block;
      padding: 20px;
    }

    i:hover {
      animation: none;
    }

    i {
      animation: shake .5s linear infinite 1s;
    }
    /* Styling the tab */

    div.tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #815fc0;
      margin-top: 12px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    div.tab button {
      background-color: inherit;
      color: snow;
      font-size: 22px;
      float: middle;
      width: 32.3%;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.4s;
    }

    div.tab button:hover {
      background-color: #6441a5;
    }

    div.tab button.active {
      background-color: #4b307b;
    }

    .tabcontent {
      display: none;
      padding: 6px 12px;
      font-family: sans-serif;
      border: 1px solid #727272;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: none;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
    }

    .wrapper {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .wrapper .streamer {}

    .wrapper .streamer:after {
      content: '';
      display: table;
      clear: both;
    }

    .wrapper .streamer .grid-item {
      float: left;
      /* adding split gutters via margin */
      width: calc((100% - 10px * 3) / 3);
      margin-right: 5px;
      margin-left: 5px;
    }

    .streamer .logo {
      text-align: left;
    }

    .streamer .info {}
    /* Use table to center align the status tab */

    .streamer .status {
      display: table;
      text-align: right;
      height: 100px;
    }

    .streamer .status i {
      display: table-cell;
      vertical-align: middle;
    }

    @-webkit-keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @media (min-width: 1000px) {
      .container {
        width: 1000px;
      }
    }
