    html {
      box-sizing: border-box;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    body {
      background-color: white;
      height: 100%;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif;
    }

    .main {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .fa-exclamation {
      color: #ff4444;
    }

    .fa-check {
      color: #2efc00;
    }

    header {
      background-color: white;
      margin: 0 auto;
    }

    footer {
      color: #6034b1;
      padding-top: 10px;
      font-family: 'Josefin Sans', sans-serif;
    }

    .search-section {
      height: 60px;
      border-bottom: 1px solid white;
    }

    .container-1 {
      margin: auto;
      width: 300px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
    }

    .container-1 input#search {
      width: 300px;
      outline: none;
      height: 50px;
      background: #5c4192;
      border: none;
      font-size: 10pt;
      float: left;
      color: white;
      padding-left: 45px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: background .55s ease;
      -moz-transition: background .55s ease;
      -ms-transition: background .55s ease;
      -o-transition: background .55s ease;
      transition: background .55s ease;
    }

    .container-1 input#search::-webkit-input-placeholder {
      color: white;
    }

    .container-1 .icon {
      position: absolute;
      left: 5%;
      margin-top: 15px;
      z-index: 1;
      color: white;
    }

    .display {
      display: inline-block;
      width: 100%;
    }

    h1 {
      color: #6034b1;
      border-radius: 10px;
      display: inline-block;
      padding: 20px;
    }

    i:hover {
      animation: none;
    }

    i {
      animation: shake .5s linear infinite 1s;
    }
    /* Styling the tab */

    div.tab {
      overflow: hidden;
      border: 1px solid black;
      padding: 3px;
      margin-top: 12px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    div.tab button {
      background-color: white;
      color: #6034b1;
      font-size: 22px;
      float: middle;
      width: 32.3%;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.4s;
    }

    div.tab button:hover {
      background-color: #6034b1;
      color: white;
    }

    div.tab button.active {
      background-color: #6034b1;
      color: white;
    }

    .tabcontent {
      display: none;
      background-color: #815fc0;
      padding: 6px 12px;
      font-family: sans-serif;
      border: 1px solid black;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: none;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
    }

    .row {
      padding: 10px 0;
      -webkit-animation: fadeEffect 3s;
      animation: fadeEffect 3s;
    }

    .tabcontent h3, p {
      font-size: 1.5rem;
    }

    [class^="col-"] {
      color: white;
    }

    .streamer-name {
      padding-top: 5px; 
      display: block;
      font-family: 'Orbitron', sans-serif;
      font-size: 60px;
      font-weight: bold;
    }

    #logo img {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border: 1px solid white;
      height: 83px;
      width: 70px;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }

    #logo img:hover {
      opacity: 0.4;
    }

    #stream-body {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border: 1px solid white;
      min-height: 83px;
    }

    #stream-body h3, blockquote {
      margin-top: 3px;
    }

    #stream-body .online-status, #stream-body .streamer-name {
      display: block;
    }

    #status {
      display: table;
      min-height: 93px;
      width: 80px;
    }

    #status i {
      display: table-cell;
      vertical-align: middle;
      padding: 18px;
      border-radius: 15px;
      box-shadow: 1px 1px 15px white;
    }

    @-webkit-keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @media (min-width: 1000px) {
      .display {
        width: 1000px;
      }
      .tabcontent h3, p {
        font-size: 1.5rem;
      }
      #logo img {
        width: 100px;
        height: 100px;
      }
      #stream-body {
        height: 100px;
      }
      #status i {
        width: 100px;
        height: 100px;
      }
    }

    @media (min-width: 768px) {
      #stream-body h3 {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
